:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: rgba(46, 47, 66, 0.4);
  --hero-background: rgba(46, 47, 66, 0.7);
  --white-color: #ffffff;
}
body {
  background-color: var(--white-color);
  color: var(--text);
  font-family: Roboto, sans-serif;
}

/* 📌 Reset */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
img {
  max-width: 100%;
  display: block;
}

/* 📌 Utils */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ==================================================== */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* =================   header   =================== */
.header {
  border-bottom: 1px solid var(--accent);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--primary-brand);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
}
.logo.light > .logo-right {
  color: var(--white-color);
}
.logo.dark > .logo-right {
  color: var(--text);
}

.button-menu {
  background-color: var(--white-color);
  padding: 24px 0;
  border: none;
  stroke: var(--dark);
  display: block;
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 80px 40px 40px;
  background-color: #ffffff;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms var(--hover-transition);

  display: flex;
  flex-direction: column;
}

/*================== HERO=========== */
.hero-wrapper {
  max-width: 780px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 432px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  text-align: center;
}
.hero-title {
  color: var(--white-color);
  width: 320px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  display: block;
  display: flex;
}
.hero-button {
  background-color: var(--primary-brand);
  font-family: inherit;
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state);
}
/*==================== MODAL */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-overlay);
  transition: opacity 250ms linear, visibility 250ms linear;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: calc(100% - 36px);

  min-height: 586px;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  padding: 24px 16px;
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-clos {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--accent);
  border-radius: 50%;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-clos:hover,
.modal-clos:focus {
  background-color: var(--pressed-state);
  fill: var(--white-color);
}
.personal-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 16px;
}
/* ======================================================== */

.personal-data-text {
  position: relative;

  display: block;
  margin-bottom: 8px;
}
.personal-text {
  display: inline-block;

  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--subtle-text);

  margin-bottom: 4px;
}

.contacts-form-imput {
  padding-left: 38px;

  width: 100%;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  color: var(--dark);
}

.contacts-form-imput:focus {
  border: 1px solid var(--primary-brand);
}
.contacts-form-imput:focus + .user-name {
  fill: var(--primary-brand);
}

.user-name {
  position: absolute;
  left: 16px;
  bottom: 20px;
  transform: translateY(50%);
  pointer-events: none;
  fill: var(--dark);
}

/* ============================================ */

.contacts-form-comment {
  width: 100%;
  min-height: 40px;
  margin-bottom: 18px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-form-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  padding-left: 16px;
  padding-top: 8px;
}

.contacts-form-comment:focus {
  border: 1px solid var(--primary-brand);
}
textarea {
  resize: none;
  height: 120px;
  padding-top: 8px;
  padding-left: 16px;
}

/* ================checkbox================== */
.privacy-statement {
  height: 16px;
  width: 360px;
  margin-bottom: 24px;
}
.personal-checkbox {
  display: inline-flex;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: #757575;
}
.checkbox {
  appearance: none;
  position: absolute;
}
.checkbox-icons {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 2px solid var(--dark);
  border-radius: 4px;
}
.checkbox-text {
  font-weight: 400;
  display: flex;
}

.checkbox:checked + .checkbox-icons {
  border-color: var(--pressed-state);
  background-color: var(--pressed-state);
  background-image: url(../images/full-check.svg);
  background-size: contain;
  background-origin: border-box;
}
.privacy-policy {
  color: var(--primary-brand);
  margin-left: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-policy:hover,
.privacy-policy:focus {
  color: var(--pressed-state);
}
.contacts-btn {
  text-align: center;
}
.contacts-form-btn {
  color: var(--white-color);
  height: 56px;
  width: 169px;
  background: var(--primary-brand);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-form-btn:focus,
.contacts-form-btn:hover {
  background-color: var(--pressed-state);
}
/* ==============mob-menu========================================= */
.mob-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  padding: 80px 35px 40px 40px;
}
.menu-close {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
  border-radius: 50%;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  right: 24px;
  top: 24px;
}
.mob-menu-item {
  display: inline-block;
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.mob-menu-item > .link {
  color: var(--dark);
}
.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-menu-item > .link:focus .mob-menu-item > .link:hover {
  color: var(--pressed-state);
}
/* ============================================================= */

.contacts-wrapper-mob {
  margin-top: auto;
  margin-bottom: 48px;
}

.contacts-item-mob:not(:last-child) {
  margin-bottom: 40px;
}
.contacts-item-mob {
  display: inline-block;
  display: block;
}
.contacts-link-tel {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #4d5ae5;
}
.contacts-link {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
  color: #434455;
}
*/ .contacts-item-mob > .contacts-link {
  color: #434455;
}
.soc-icon-menu {
  display: flex;
  justify-content: space-between;
  max-width: 328px;
}

/* ========================================================= */
.hero-wrapper {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--navy-blue-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero/people-office-mobile.jpg');
  text-align: center;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero-wrapper {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/people-office-mobile@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .hero-wrapper {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/people-office-tablet.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero-wrapper {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero/people-office-tablet@2x.jpg');
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero-wrapper {
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/people-office-desktop.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero-wrapper {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero/people-office-desktop@2x.jpg');
    }
  }
}

/* ============= advantages =========================== */
.advantages-section {
  padding: 96px 0;
}
.advantages-title {
  color: var(--dark);
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 75px;
}

/* <!--📌========= Our Team  */
.our-team {
  background-color: var(--light);
  padding: 120px 0;
}
.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-title {
  text-align: center;
  margin-bottom: 72px;
}
.team-item {
  width: 264px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 72px;
}

.staff-wrapper {
  padding: 32px 16px;
  text-align: center;
}
.staff-title {
  color: var(--dark);
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
}
.staff-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.soc-icon {
  display: flex;
  justify-content: space-between;
}
.icon-item {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-brand);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-item:hover,
.icon-item:focus {
  background-color: var(--pressed-state);
}
.soc-icon-item {
  fill: var(--light);
}
/* ================================Customers */
.customers {
  padding: 96px 0;
}
.customers-item {
  width: calc((100% - 16px) / 2);
}
.customers-link {
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--subtle-text);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--pressed-state);
}
.customers-link:hover > .customers-icon-item,
.customers-link:focus > .customers-icon-item {
  fill: var(--pressed-state);
}

.customers-icon-item {
  fill: var(--subtle-text);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-heading {
  margin-bottom: 72px;
  padding-top: 120px;
}

/* =================footer ========== */
.page-footer {
  padding-top: 96px;
  background-color: var(--dark);
}
.logo-group {
  min-width: 268px;
}

.logo {
  display: block;

  margin-bottom: 16px;
}
.text {
  margin-bottom: 72px;
}
.social-group {
  width: 208px;
}
.social-title {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent);
}
.social-list {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
}
.social-item {
  width: 40px;
}
.social-link {
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--success);
}
.subscription-group {
  width: 100%;
}
.subscription-title {
  color: var(--white-color);

  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 16px;
}
.subscribe-form {
  text-align: center;
  padding-bottom: 96px;
}

.subscribe-button {
  padding: 8px 24px;
  display: inline-flex;
  align-items: center;
  column-gap: 16px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border: none;
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--primary-brand);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--pressed-state);
}
.telegram {
  fill: var(--white-color);
}
.subscribe-text {
  display: flex;

  transform: translateY(-50%);
}
.subscribe-input {
  color: var(--white-color);
  background-color: var(--dark);
  min-width: 100%;
  padding-top: 8px;
  padding-left: 8px;
  padding-bottom: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-group > .text {
  margin-top: 16px;
  color: var(--accent);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.projects-list {
  width: 100%;
  justify-items: center;
}
.filter-button {
  padding: 12px 24px;
  color: var(--primary-brand);
  font-family: inherit;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  background-color: var(--white-color);
  border: 1px solid var(--accent);
  border-radius: 4px;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover,
.filter-button:focus {
  border-color: transparent;
  background-color: var(--pressed-state);
  color: var(--white-color);
}
.projects-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.projects-img {
  display: block;
}

.projects-img:hover,
.projects-img:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.projects-img:hover .overlay {
  transform: translateY(0);
}
.projects-wraper {
  position: relative;
  overflow: hidden;
}
.overlay {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light);
  position: absolute;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  top: 0;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--primary-brand);
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms linear;
}
.projects-bottom {
  padding: 32px 16px;
  border-left: 1px solid var(--accent);
  border-right: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
}

.projects-title {
  margin-bottom: 8px;
  color: var(--dark);
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
}
.projects-description {
  color: var(--text);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ================================================================================================ */

@media screen and (min-width: 426px) {
  .container {
    width: 426px;
  }
  .modal {
    width: 392px;
  }
  .contacts-link-tel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #4d5ae5;
  }
}

@media screen and (max-width: 765px) {
  .navigation-list {
    display: none;
  }
  .contacts-wrapper {
    display: none;
  }
  .advantages-title {
    text-align: center;
  }
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 72px 16px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo-group {
    width: 268px;
  }
  .logo {
    text-align: center;
  }
  .social-group {
    text-align: center;
  }
  .subscribe-input {
    min-width: 100%;
    margin-bottom: 34px;
  }
  .subscription-title {
    text-align: center;
  }
  .projects-section {
    padding-top: 48px;
  }
  .filter-list {
    flex-wrap: wrap;
    display: flex;

    column-gap: 24px;
  }
  .filter-item {
    column-gap: 24px;
    margin-bottom: 16px;
  }
  .projects-item {
    margin-bottom: 48px;
  }
}

/* =========================== T A B L E T===================================================== */

@media screen and (min-width: 768px) {
  .container {
    width: 766px;
  }

  .contacts-link {
    display: block;
    row-gap: 6px;
  }

  .navigation {
    display: flex;
    align-items: center;
  }
  .navigation-list {
    display: flex;
    margin-left: 76px;
    padding: 24px 0;
  }
  .navigation-list .item + .item {
    margin-left: 40px;
  }
  .navigation-list .link {
    color: var(--dark);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-list .link:hover,
  .navigation-list .link:focus,
  .navigation-list .link.current {
    color: var(--pressed-state);
  }
  .navigation-list .link.current::after {
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -26px;
    display: block;
    content: '';
    position: absolute;
    border-radius: 2px;
    background-color: var(--pressed-state);
    pointer-events: none;
  }
  .contacts-link {
    color: var(--text);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-link:hover,
  .contacts-link:focus {
    color: var(--pressed-state);
  }

  .button-menu {
    display: none;
  }

  .modal {
    width: 408px;
  }

  .hero-wrapper {
    height: 436px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/people-office-tablet.jpg');
  }

  .advantages-list {
    display: flex;
    flex-wrap: wrap;
  }
  .advantages-item {
    width: 356px;
  }

  /* ============Our Team========== */
  .hero-title {
    width: 496px;
    font-size: 56px;
  }
  .team-list {
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: center;
  }
  .team-item:not(:last-child) {
    margin-right: 24px;
  }
  .team-item {
    margin-bottom: 64px;
  }
  .customers-list {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: center;
    gap: 72px 24px;
  }
  .customers-item {
    width: 168px;
    margin-bottom: 96px;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .logo-group {
    margin-right: 24px;
  }

  .subscribe-form {
    display: flex;
  }
  .subscribe-input {
    min-width: 264px;
    margin-right: 24px;
  }

  .footer-container {
    padding-left: 108px;
  }

  .filter-list {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 64px;
  }
  .projects-list {
    padding-bottom: 96px;

    gap: 72px 24px;
    display: flex;
    flex-wrap: wrap;
  }

  .projects-item {
    width: 356px;
  }
  .mob-menu {
    display: none;
  }
}

@media screen and (max-width: 1157px) {
  .work-section {
    display: none;
  }
  .logo-group {
    width: 264px;
  }
  .advantages-top {
    display: none;
  }
  .projects-section {
    padding-top: 64px;
  }
}

/* ================= D E S K T O P ============================= */

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
  .contacts-wrapper {
    margin-left: auto;
  }
  .contacts {
    display: flex;
  }
  .contacts-item + .contacts-item {
    margin-left: 40px;
  }
  .contacts-link {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .hero-wrapper {
    height: 600px;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/people-office-desktop.jpg');
  }

  .advantages-section {
    padding: 120px 0 60px;
  }
  .advantages-list {
    display: flex;
  }
  .advantages-item {
    width: 264px;
  }
  .advantages-item:not(:last-child) {
    margin-right: 24px;
  }
  */
/* =========================================================================== */

 .advantages-top {
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
  }
  */ .advantages-title {
    color: var(--dark);
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .advantages-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .advantages-top {
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
  }
  .advantages-item {
    width: 264px;
  }
  .advantages-item:not(:last-child) {
    margin-right: 24px;
  }
  .work-section {
    display: block;
    padding: 60px 0 120px;
  }
  .work-list {
    display: flex;
  }
  .work-item {
    width: 360px;
    border: 1px solid var(--accent);
  }
  .work-item:not(:last-child) {
    margin-right: 24px;
  }
  .customers {
    padding: 120px 0;
  }
  .customers-item {
    row-gap: 24;
  }
  .customers-list {
    display: flex;
    justify-content: space-between;
  }
  .page-footer {
    padding-bottom: 100px;
  }
  .footer-container {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 0;
  }
  .logo-group {
    margin-right: 120px;
  }
  .social-group {
    margin-right: 80px;
  }
  .projects-section {
    padding-top: 100px;
  }
  .projects-list {
    gap: 48px 24px;
    padding-bottom: 120px;
  }
  .projects-section {
    padding: 96px 0 120px;
  }

  .filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
  }
  .filter-item:not(:last-child) {
    margin-right: 24px;
  }

  .projects-item {
    width: 360px;
  }
}
